<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>明明的分享</title>
    {{ versionfile('/public/css/share.css') | raw }}

</head>
<body>
<div style="display: none;"><img src="/public/images/weshare2.jpg"/></div>
<div class="share-wrapper">
    <div class="share-content">
        <article>

            {{ article | raw }}

            <!--<div class="media-wrapper"><img src="http://pic.zhuyan.me/2.jpg"/></div>-->
        </article>
        <div id="comment-wrapper">
            <user-comment vid="{{ id }}" view_num="{{ view_num }}"></user-comment>
        </div>
    </div>
</div>
</body>
<script src="/public/assets/js/jquery-1.11.1.js"></script>
<script src="/public/js/vue.js"></script>
{{xtemplate('/comment.html','comment-component') |  raw}}
<script>

 Vue.component('user-comment',{
     template:'#comment-component',
     props:['vid','view_num'],
     methods:{
         praise:function(){
             $.get('/praise?id=' + this.id);
             this.praisenum =  parseInt(this.praisenum) + 1;
         },
         publish:function(){
             (function(a){
                 a.mask = 1;
                 setTimeout(function(){
                     a.mask = 0;
                 },2000);
                 $.ajax(
                     {
                         url:'/comment',
                         type:'get',
                         data:{id:a.id,nickname:a.nickname,comment:a.comment,replay_to:a.replay_to,parent_id:a.parent_id,email:a.email,comment_level:a.comment_level},
                         dataType:'json',
                        success:function(data){
                            a.comment = '';
                            if(data.data.comment_level == 1){
                                a.commentlist.push(data.data);
                            }else{
                                $.each(a.commentlist,function (ind,obj) {
                                    if(obj.id == data.data.parent_id){
                                        a.commentlist[ind].child.push(data.data);
                                        return false;
                                    }
                                })
                            }
                        },
                        error:function(){

                        }
                     }
                 );
             })(this);
         },
         replay:function(e){
             var y = $('.essay-comment textarea').offset().top;
             $("html,body").animate({scrollTop:y},200);
//             console.log(e.target);
             var el = $(event.currentTarget);
             var obj = JSON.parse(el.attr('data-replay'));
             this.comment = '';
             this.placeholder = "回复@" + obj.replay_to;
             this.replay_to = obj.replay_to;
             this.parent_id = obj.parent_id;
             this.comment_level = 2;
         }
     },
     data:function(){
         var datas = {};
         datas.id = this.vid;
         datas.nickname = '';
         datas.email = '';
         datas.praisenum = this.view_num;
         datas.comment = '';
         datas.commentlist = null;
         datas.placeholder = '敢不敢随便说点啥...';
         datas.replay_to = '';
         datas.parent_id = 0;
         datas.comment_level = 1;
         datas.mask = 0;
         return datas;
     },
     created:function(){
         (function(a){
             //置空文本框
             $.ajax(
                 {
                     url:'/commentlist',
                     type:'get',
                     data:{id:a.id},
                     dataType:'json',
                     success:function(data){
                        if(data.status){
                            a.commentlist = data.data;
                            console.log(a.commentlist );
                        }
                     },
                     error:function(){

                     }
                 }
             );
         })(this);
     }
 });
 new Vue({
     el:'#comment-wrapper'
 });
</script>
</html>