{% extends "master.html" %}
{% block style %}
<style>
#work-detail-panel{
    text-align: center;
}
.detail-img{
    max-width: 100%;
    margin-bottom: 28px;
}

#scrollUp {
    background-color: #777;
    color: #eee;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
}
</style>
{% endblock%}
{% block function %}WORK DETAIL<button class="button button-large button-plain button-border button-square" id="work-delete"><i class="fa fa-save" id="work-detail-save"></i></button><input type="text" class="form-control" name="title" value="{{ title }}" placeholder="describe this work">{% endblock %}
{% block contentwrap %}
<input type="hidden" name="id" value="{{ id }}"/>
<div class="row" id="work-detail-panel">
    <!--<img class="detail-img" new-img="1" src="/images/work/1472173877.jpg">-->
    {% for img in imgs%}
    <img class="detail-img" src="{{ img }}" new-img="{{ img }}"/>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script src="/public/js/workdetail.js"></script>
{% endblock %}